.news-wrapper{
    margin: 10px;
    padding: 8px;
    text-decoration: none;
}
.news-title h4,a {
    color: black;
    text-decoration: none;
}
.heading{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.text-muted{
    padding-left: 3px;
    color: #828282;
    font-size: 14px;
}